body {
  font-family: sans-serif;
  background-color: #fff3bd;
  padding: 20px;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}

main {
  background: #6d4e1fde;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000000;
}

@media (max-width: 768px) {
  main {
    padding: 15px;
  }
}

section {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background: #ffb300;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #ffb300cc;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .top {
    gap: 70px;
  }
}

.button-carrito {
  font-size: 30px;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: 1s;

  &:hover {
    background-color: gray;
    transition: 1s;
  }
}

@media (max-width: 768px) {
  .button-carrito {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

#productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

@media (max-width: 768px) {
  #productos-container {
    align-items: center;
  }
}

.producto {
  background-color: #977a51;
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .producto {
    width: 38%;
    height: -webkit-fill-available;
    max-width: 350px;
  }
}

.prod-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}


.prod-button {
  font-size: 16px;
  font-weight: bold;
  background-color: #67491f;
  width: 80%;
  transition: 0.3s;
}

.prod-button:hover {
  background-color: #433016;
}

.categorias {
  display: flex;
  gap: 25px;
}

@media (max-width: 576px) {
  .categorias {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 100px;
    transition: right 0.5s ease;
    z-index: 100;
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .categorias.active {
    right: 0;
  }
}

.nav-btn {
  background-color: #000000;
  color: white;
  width: 80px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  transition: 1s;

  &:hover {
    transition: 1s;
    background-color: gray;
  }
}

@media (max-width: 768px) {
  .nav-btn {
    flex: 0 0 auto;
    width: auto;
    padding: 8px 15px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .nav-btn {
    width: 80%;
    padding: 10px;
    font-size: 18px;
  }
}

#carrito-container {
  display: flex;
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 50px;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  #carrito-container {
    border-radius: 20px;
    padding: 10px;
    width: 100%;
  }
}

#carrito {
  font-weight: bold;
}

@media (max-width: 768px) {
  #carrito li {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
  }
}

#carrito-container.oculto {
  display: none;
}

#usar-cupon {
  margin: 10px;
}

.btn-carrito {
  font-size: 30px;
  font-weight: bold;
  background-color: #000000;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  transition: 1s;

  &:hover {
    font-size: 35px;
    width: 60px;
    height: 60px;
    background-color: gray;
    transition: 1s;
  }
}

@media (max-width: 768px) {
  .btn-carrito {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}

#mensaje {
  font-weight: bold;
  margin-top: 10px;
  color: black
}

#limpiar-btn {
  font-size: 20px;
  margin: 10px;
  width: 30%;
  height: 50px;
  background-color: black;
  border-radius: 20px;
  transition: 1s;

  &:hover {
    width: 32%;
    height: 70px;
    border: 3px red solid;
    transition: 1s;
  }
}

#comprar-btn {
  font-size: 20px;
  margin: 10px;
  width: 30%;
  height: 50px;
  background-color: black;
  border-radius: 20px;
  transition: 1s;

  &:hover {
    width: 32%;
    height: 70px;
    border: 3px green solid;
    transition: 1s;
  }
}

@media (max-width: 768px) {

  #comprar-btn,
  #limpiar-btn {
    width: 40%;
    height: 45px;
    font-size: 16px;
    margin: 5px 0;

    &:hover {
      width: 42%;
      height: 80px;
    }
  }
}

#recargar-btn {
  background-color: #d5b56a;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 40px;
  border-radius: 20px;
  transition: 1s;

  &:hover {
    width: 22%;
    height: 50px;
    transition: 1s;
    background-color: #f9dd9b;
  }
}

@media (max-width: 768px) {
  #recargar-btn {
    width: 50%;
    height: 40px;
    font-size: 16px;

    &:hover {
      width: 52%;
      height: 50px;
      transition: 1s;
      background-color: #f9dd9b;
    }
  }
}

.contenedor-recargar-btn {
  display: flex;
  justify-content: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.58);
}

.icono-menu {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;


}

@media (max-width: 576px) {
  .icono-menu {
    display: block;
    z-index: 101;
  }
}